.actions {
  &__icon {
    opacity: 0.2;

    cursor: pointer;

    transition: opacity 0.2s linear;
  }

  &__icon:first-child {
    margin-right: 10px;
  }

  &__icon:hover {
    opacity: 0.35;
  }
}
