.app {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  color: @default-black;

  &__svg-store {
    &._hidden {
      .hidden();
    }
  }

  &__ya-cards {
    position: absolute;
    top: 0;
    right: 0;
    z-index: @zindex-cards;
  }

  .dots-icon {
    .icon-size(14px; 14px);

    vertical-align: middle;
    cursor: pointer;

    fill: @standard-gray;

    transition: fill 0.2s linear;
  }

  &__ma-header {
    display: flex;
    justify-content: space-between;
    height: 36px;

    padding: 4px 10px 0 10px;
  }

  &._ma-mark {
    .ma-font-base();
  }

  &._ya-mark {
    .ya-font-base();
  }
}
