.app {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  color: @ya-default-black;

  &__svg-store {
    &._hidden {
      .hidden();
    }
  }

  &__ya-cards {
    position: absolute;
    top: 0;
    right: 0;
    z-index: @zindex-cards;
  }

  .dots-icon {
    .icon-size(14px; 14px);

    vertical-align: middle;
    cursor: pointer;

    fill: @ya-standard-gray;

    transition: fill 0.2s linear;
  }

  &__ma-header {
    display: flex;
    justify-content: space-between;
    height: 36px;

    padding: 4px 10px 0 10px;
  }

  &__tr-header {
    margin-bottom: var(--gap);

    &:after {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background: @tr-linear-gradient-colored;
    }
  }

  &__tr-footer {
    margin-top: calc(var(--gap) * 5);
    padding-bottom: var(--gap);
  }

  &._ma-mark {
    .ma-font-base();

    * {
      outline-color: var(--ma-outline-color);
    }
  }

  &._ya-mark {
    .ya-font-base();

    * {
      outline-color: var(--ya-outline-color);
    }
  }

  &._tr-mark {
    background-color: @tr-bg-color;
    color: @normal-white;
  }
}
