.app {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  color: @default-black;

  &__svg-store {
    &._hidden {
      .hidden();
    }
  }

  &__ya-cards {
    position: absolute;
    top: 0;
    right: 0;
    z-index: @zindex-cards;
  }

  .dots-icon {
    .icon-size(14px; 14px);

    vertical-align: middle;
    cursor: pointer;

    fill: @standard-gray;

    transition: fill 0.2s linear;
  }

  &__ma-header {
    display: flex;
    justify-content: space-between;
    height: 36px;

    padding: 10px 18px 0 18px;
  }

  &._ma-mark {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  &._ya-mark {
    .font-base();
  }

  &__ma-cards {
    width: 20%;
  }

  &__ma-main {
    width: 80%;
  }
}
