.course-item {
  &__valuta {
    margin-right: 6px;

    font-weight: 500;
    font-size: 12px;
    color: @default-black;

    transition: color 0.2s linear;
  }

  &__value {
    margin-right: 4px;

    font-weight: 400;
    font-size: 12px;
    color: @default-black;
  }

  &__diff {
    font-size: 12px;
    color: @standard-gray;
  }
}
