.header-content {
  &__geo-link {
    display: flex;
    align-items: baseline;

    color: @standard-gray;
    .font-type(12px; 600; normal);

    &:hover {
      color: @active-light-red;
    }

    &:hover .geo-icon {
      fill: @active-light-red;
    }
  }

  &__time {
    .font-type(11px; 400; normal);
    font-family: @font-family-secondary;
    color: @standard-gray;
  }
}
