.header-content {
  &__geo-link {
    display: flex;
    align-items: baseline;

    font-weight: @font-bold-weight;
    color: @standard-gray;

    &:hover {
      color: @active-light-red;
    }

    &:hover .geo-icon {
      fill: @active-light-red;
    }
  }

  &__time {
    font-family: @font-family-secondary;
    font-size: @font-small-size;
    color: @standard-gray;
  }
}
