.link {
  text-decoration: none;
  cursor: pointer;

  transition: color 0.2s linear;

  &__text {
    .ya-font-regular();
  }

  &__info {
    .ya-font-standard();
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__ma-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;

    margin-left: 12px;
  }

  &__weather-box {
    display: flex;
    align-items: center;
  }

  &__value {
    padding-left: 10px;

    font-size: @ya-font-regular-size;
  }

  &__label {
    margin-right: 7px;

    .ma-font-petty-bolder();
    color: @text-light-gray;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &__desc {
    color: @main-blue;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &__image {
    background: url("https://yastatic.net/www/_/O1M3pj157/f169beb3CeL/hAS0GJ_SjB4tydGUKN4uuqnsXxm5TxRDhtR2lEDAjh1QX6fXVnikVUTvlnkMs6Dc7mHFQvj1vv806ntwCdwh2xEVu5PTSUfQ4tbdnaEUqbz-qt4ZqM4GhRTQex8")
      no-repeat;
    background-size: cover;
    background-position-y: top;
    .icon-size(35%; 100%);
  }

  &__news-image {
    background: url("https://r.mradx.net/pictures/5B/A9F2AC.jpg");
    background-size: cover;
    .icon-size(64px; 48px);

    border-radius: 5px;
  }

  &__inscription {
    position: absolute;
    top: 0;
    left: 0;

    padding: 4px 6px 3px 6px;
    border-bottom-right-radius: 4px;

    font-size: @ya-font-smallest-size;
    color: @default-black;
    background-color: @normal-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 65%;

    padding-left: 15px;
  }

  &__card-text {
    flex-grow: 1;

    margin-left: -20px;

    .ya-font-regular-medium();
    color: @default-black;
  }

  &__add-text {
    padding-left: 8px;

    .ya-font-standard();
    color: @default-black;

    transition: color 0.2s linear;
  }

  &__subtitle {
    display: block;
    margin-bottom: 7px;

    .ya-font-standard-medium();
    color: @default-black;
  }

  &__title {
    display: block;

    font-size: @ya-font-petty-size;
    text-align: center;
    color: @standard-gray;
  }

  &__temp {
    margin: 0 12px;

    .ma-font-big();
    color: @text-light-gray;
  }

  &__value._large {
    font-size: @ya-font-large-size;
  }

  &._theme-dark {
    background-color: @custom-light-gray;
  }

  &._alignment {
    display: flex;
    align-items: center;
  }

  &._main {
    font-size: @ya-font-medium-size;
  }

  &._extra {
    font-size: @ya-font-regular-size;
  }

  &._primary {
    color: @primary-dark-blue;
  }

  &._secondary {
    color: @secondary-light-blue;
  }

  &._ya-caused:hover {
    color: @active-light-red;
  }

  &._ma-caused:hover {
    text-decoration: underline;
  }
}
