.widget-content {
  &__link {
    & + & {
      margin-left: 10px;
    }

    &:hover {
      color: @active-light-red;
    }
  }

  &__text {
    padding-left: 14px;

    color: @default-black;
  }
}
