.logo-text-icon {
    .icon-size(170px; 25px);

    margin-right: var(--gap);

    fill: @normal-white;
}

.logo-star {
    .icon-size(25px; 25px);

    margin-right: .3rem;

    fill: @normal-white;
}

.search-icon,
.account-icon {
    .icon-size(32px; 32px);
    fill: @normal-white;

    cursor: pointer;

    &:hover {
        opacity: .66;
    }
}

.account-icon {
    margin-left: .8rem;
}