.ma-card-footer {
    &__create {
        width: 100%;

        margin-bottom: 8px;
        padding: 8px 16px;
        border: none;
        border-radius: 8px;

        .ma-font-secondary();
        color: @ma-main-blue;
        background-color: @ma-bg-light-gray;

        cursor: pointer;
        outline: none;

        &:hover,
        &:focus {
            background-color: darken(@ma-bg-light-gray, 3%);
        }
    }

    &__connect {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        padding: 8px 16px;
        border: none;
        border-radius: 8px;

        color: @normal-white;
        background-color: @ma-vk-blue;

        cursor: pointer;
        outline: none;

        &:hover,
        &:focus {
            background-color: darken(@ma-vk-blue, 3%);
        }

        & .vk-icon {
            margin-right: 5px;
        }
    }
}