.list-header {
    &__item {
        &:first-child {
            font-weight: 600;
        }

        padding: 6px 8px 6px 8px;
        border-radius: 8px;

        &:hover {
            background-color: @bg-gray;
        }
    }
}