.saveauth {
    color: @text-light-gray;

    &__restore {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    &__label {
        display: flex;
        align-items: center;

        & input {
            margin: 0 5px 0 0;
        }
    }
}