// задаем цвета проекта
@normal-white: #fff;

// Yandex
@ya-default-black: #000;
@ya-additional-light-black: rgba(0, 0, 0, 0.08);
@ya-standard-gray: #90919d;
@ya-regular-light-gray: #e4e4e4;
@ya-custom-light-gray: #f0f0f0;
@ya-primary-dark-blue: #0054b9;
@ya-secondary-light-blue: #6da2e1;
@ya-active-light-red: #c00;
@ma-major-orange: #fc0;

// Mail
@ma-main-blue: #005CF1;
@ma-bg-gray: rgba(0, 16, 61, 0.04);
@ma-shadow-light-black: lighten(#000, 88%);
@ma-add-black: #333;
@ma-text-light-gray: #2c2d2e;
@ma-bg-light-gray: #f0f1f3;
@ma-vk-blue: #4986cc;
@ma-rate-red: #f44e4e;
@ma-brand-orange: #ff9e00;

// CSS-Tricks
@tr-default-black: #000;
@tr-title-black: #111;
@tr-bg-color: #262626;
@tr-scroll-black1: darken(@normal-white, 60%);
@tr-scroll-black2: @tr-default-black;
@tr-scroll-black3: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
@tr-gorizontal-scroll-black3: linear-gradient(90deg, #434343, #434343 1px, #262626 0, #262626);
@tr-orange-color: #ff7a18;
@tr-blue-color: #0089c7;
@tr-gray-text-color: #474747;
@tr-dark-gray-color: #5e5e5e;
@tr-dark-time-color: #d7d7d7;
@tr-light-gray-color: #a9a39f;
@tr-linear-gradient-colored: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
@tr-linear-gradient-gray: linear-gradient(85deg, #434343, #262626);