// задаем цвета проекта

@default-black: #000;
@standard-gray: #90919d;
@regular-light-gray: #e4e4e4;
@normal-white: #fff;
@primary-dark-blue: #0054b9;
@secondary-light-blue: #6da2e1;
@active-light-red: #c00;
@major-orange: #fc0;