// подключаем шрифт через font-face
.font-face(@font-family; @font-path-1; @font-path-2; @font-path-3; @font-weight; @font-style; @font-display) {
    @font-face {
        font-family: @font-family;
        src: url(@font-path-1) format("woff2"),
        url(@font-path-2) format("woff"),
        url(@font-path-3) format("ttf");
        font-weight: @font-weight;
        font-style: @font-style;
        font-display: @font-display;
    }
};

// Yandex
.font-face(
    @ya-font-family-main,
    "../../fonts/YSText/YandexSansText-Regular.woff2",
    "../../fonts/YSText/YandexSansText-Regular.woff",
    "../../fonts/YSText/YandexSansText-Regular.ttf",
    @ya-font-regular-weight,
    @ya-font-normal-style,
    swap
);

.font-face(
    @ya-font-family-main,
    "../../fonts/YSText/YandexSansText-Medium.woff2",
    "../../fonts/YSText/YandexSansText-Medium.woff",
    "../../fonts/YSText/YandexSansText-Medium.ttf",
    @ya-font-medium-weight,
    @ya-font-normal-style,
    swap
);

.font-face(
    @ya-font-family-main,
    "../../fonts/YSText/YandexSansText-Bold.woff2",
    "../../fonts/YSText/YandexSansText-Bold.woff",
    "../../fonts/YSText/YandexSansText-Bold.ttf",
    @ya-font-bold-weight,
    @ya-font-normal-style,
    swap
);


// CSS-Tricks
.font-face(
    @tr-font-family-main,
    "../../fonts/CSS-Tricks/GothamNarrSSm-Medium.woff2",
    "../../fonts/CSS-Tricks/GothamNarrSSm-Medium.woff",
    "../../fonts/CSS-Tricks/GothamNarrSSm-Medium.ttf",
    @tr-font-medium-weight,
    @tr-font-normal-style,
    swap
);

.font-face(
    @tr-font-family-main,
    "../../fonts/CSS-Tricks/GothamNarrSSm-Bold.woff2",
    "../../fonts/CSS-Tricks/GothamNarrSSm-Bold.woff",
    "../../fonts/CSS-Tricks/GothamNarrSSm-Bold.ttf",
    @tr-font-bold-weight,
    @tr-font-normal-style,
    swap
);

.font-face(
    @tr-font-family-main,
    "../../fonts/CSS-Tricks/GothamNarrSSm-Black.woff2",
    "../../fonts/CSS-Tricks/GothamNarrSSm-Black.woff",
    "../../fonts/CSS-Tricks/GothamNarrSSm-Black.ttf",
    @tr-font-black-weight,
    @tr-font-normal-style,
    swap
);

.font-face(
    @tr-font-family-secondary,
    "../../fonts/CSS-Tricks/Sentinel-Medium.woff2",
    "../../fonts/CSS-Tricks/Sentinel-Medium.woff",
    "../../fonts/CSS-Tricks/Sentinel-Medium.ttf",
    @tr-font-medium-weight,
    @tr-font-normal-style,
    swap
);

@font-face {
    font-family: @tr-font-family-tertiary;
    src: url("../../fonts/CSS-Tricks/Operator-Mono-Book-Regular.otf");
    font-weight: @tr-font-regular-weight;
    font-style: @tr-font-normal-style;
    font-display: swap;
}