@ma-font-family-main: Helvetica, Arial, sans-serif;
@ma-font-family-secondary: Arial, sans-serif;

@ma-font-petty-size: 11px;
@ma-font-secondary-size: 13px;
@ma-font-main-size: 15px;
@ma-font-btn-size: 17px;
@ma-font-big-size: 24px;

@ma-font-regular-weight: 400;
@ma-font-medium-weight: 500;
@ma-font-bold-weight: 600;
@ma-font-bolder-weight: 700;

@ma-font-normal-style: normal;

.ma-font-general(@font-size; @font-weight; @font-style) {
    font-size: @font-size;
    font-weight: @font-weight;
    font-style: @font-style;
}

.ma-font-base() {
    font-family: @ma-font-family-main;
    .ma-font-general(@ma-font-main-size; @ma-font-regular-weight; @ma-font-normal-style);
}

.ma-font-petty() {
    .ma-font-base();
    .ma-font-general(@ma-font-petty-size; @ma-font-regular-weight; @ma-font-normal-style);
}

.ma-font-petty-bolder() {
    .ma-font-base();
    .ma-font-general(@ma-font-petty-size; @ma-font-bolder-weight; @ma-font-normal-style);
}

.ma-font-secondary() {
    .ma-font-base();
    .ma-font-general(@ma-font-secondary-size; @ma-font-regular-weight; @ma-font-normal-style);
}

.ma-font-regular() {
    .ma-font-base();
    .ma-font-general(@ma-font-main-size; @ma-font-regular-weight; @ma-font-regular-weight);
}

.ma-font-regular-bolder() {
    .ma-font-base();
    .ma-font-general(@ma-font-main-size; @ma-font-bolder-weight; @ma-font-normal-style);
}

.ma-font-big() {
    .ma-font-base();
    .ma-font-general(@ma-font-big-size; @ma-font-bolder-weight; @ma-font-normal-style);
}