@tr-font-family-main: "GothamNarr", sans-serif;
@tr-font-family-secondary: "Sentitel", sans-serif;

@tr-font-petty-size: 11px;
@tr-font-secondary-size: 13px;
@tr-font-main-size: 15px;
@tr-font-btn-size: 17px;
@tr-font-big-size: 24px;

@tr-font-regular-weight: 400;
@tr-font-medium-weight: 500;
@tr-font-bold-weight: 600;
@tr-font-bolder-weight: 700;
@tr-font-black-weight: 900;

@tr-font-normal-style: normal;

.tr-font-general(@font-size; @font-weight; @font-style) {
    font-size: @font-size;
    font-weight: @font-weight;
    font-style: @font-style;
}

.tr-font-base() {
    font-family: @tr-font-family-main;
    .tr-font-general(@tr-font-main-size; @tr-font-regular-weight; @tr-font-normal-style);
}

