// общие переменные (мб размеры попапов и тд)
:root {
    --ya-outline-color: @major-orange;
    --ma-outline-color: @default-black;
}

@content-normal-width: 940px;
@content-small-width: 791px;
@calc-width: calc(100% - 70px);