// задаем основные параметры шрифта в виде миксинов и переменных
@ya-font-family-main: "YS Text";
@ya-font-family-secondary: Verdana, sans-serif;

@ya-font-petty-size: 9px;
@ya-font-smallest-size: 10px;
@ya-font-small-size: 11px;
@ya-font-normal-size: 12px;
@ya-font-regular-size: 13px;
@ya-font-medium-size: 16px;
@ya-font-large-size: 26px;

@ya-font-regular-weight: 400;
@ya-font-medium-weight: 500;
@ya-font-bold-weight: 600;

@ya-font-normal-style: normal;

.ya-font-general(@font-size; @font-weight; @font-style) {
    font-size: @font-size;
    font-weight: @font-weight;
    font-style: @font-style;
}

.ya-font-base() {
    font-family: @ya-font-family-main;
    .ya-font-general(@ya-font-regular-size; @ya-font-regular-weight; @ya-font-normal-style);
}

.ya-font-standard() {
    .ya-font-base();
    .ya-font-general(@ya-font-normal-size; @ya-font-regular-weight; @ya-font-normal-style);
}

.ya-font-standard-medium() {
    .ya-font-base();
    .ya-font-general(@ya-font-normal-size; @ya-font-medium-weight; @ya-font-normal-style);
}

.ya-font-standard-bold() {
    .ya-font-base();
    .ya-font-general(@ya-font-normal-size; @ya-font-bold-weight; @ya-font-normal-style);
}

.ya-font-regular() {
    .ya-font-base();
    .ya-font-general(@ya-font-regular-size; @ya-font-regular-weight; @ya-font-normal-style);
}

.ya-font-regular-medium() {
    .ya-font-base();
    .ya-font-general(@ya-font-regular-size; @ya-font-medium-weight; @ya-font-normal-style);
}

.ya-font-primary() {
    .ya-font-base();
    .ya-font-general(@ya-font-medium-size; @ya-font-regular-weight; @ya-font-normal-style);
}

.ya-font-primary-medium() {
    .ya-font-base();
    .ya-font-general(@ya-font-medium-size; @ya-font-medium-weight; @ya-font-normal-style);
}

.ya-font-large() {
    .ya-font-base();
    .ya-font-general(@ya-font-large-size; @ya-font-regular-weight; @ya-font-normal-style);
}

.ya-font-large-bold() {
    .ya-font-base();
    .ya-font-general(@ya-font-large-size; @ya-font-medium-weight; @ya-font-normal-style);
}